.bg-luluzed {
    background-image: url("../images/bg.png") ;  
    background-size: cover;
}

.navbar-brand img {
    max-width:100%;
    max-height:100%;
    width: 95px;
    height: auto;
}

.hide-this {
    display: none; 
    border: none;
}

.form-spacer-right {
    margin-right: 10%;
}

.mapBox{
    height: 600px;   
}
