<% include ./partials/header.ejs %> 


          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Membres</div>
              <form>
            <div class="card-body">
           <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Famille</th>
                      <th>Membres</th>
                      <th>Adresse mail</th>
                      <th>Payé</th>
                      <th class="hide-this"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Brouille</td>
                      <!-- <td><a href="#" class="btn btn-info" onClick="showFamily(['1','2','3'], 'Tiger');">3</a></td> -->
                      <td>3</td>
                      <td>xxx@xxx.fr</td>
                      <td><a href="membre_edit.html?a=paye&id=2&token=eeeeeeee" class="btn btn-dark payeLink" data-id="1" data-token="eeeeeee">Oui</a></td>
                      <td><a href="membre_edit.html?a=edit&id=2&token=eeeeeeee" class="btn btn-info"><i class="fa fa-edit"></i></a>
                      <a href="membre_delete.html?a=del&id=2&token=eeeeeeee" class="btn btn-danger"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                    <tr>
                      <td>Bricole</td>
                       <td>4</td>
                      <td>xxx@xxx.fr</td>
                      <td><a href="#" class="btn btn-dark payeLink" data-id="2" data-token="eeeeeee">Oui</a></td>
                      <td><a href="membre_edit.html?id=2&token=eeeeeeee" class="btn btn-info"><i class="fa fa-edit"></i></a>
                      <a href="membre_delete.html?id=2&token=eeeeeeee" class="btn btn-danger"><i class="fa fa-times-circle"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            </div>

<% include ./partials/footer.ejs %> 

