        
   <% include ./partials/header.ejs %>     
        
   <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Saisie rapide</div>
              <form>
            <div class="card-body">
                
                    <div class="form-row">
  
                        <div class="col-auto">

                                        <label for="ordures">Poids ordures ménagères</label><br>
                            <div class="input-group mb-2">
                                
                                
                                    
                                    <input type="number" name="ordures" min="0" class="form-control" id="ordures" placeholder="Ordures ménagères">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kgs</span>
                                    </div>
                                
                                
                                
                                
                            </div>
                            </div>

                        
                        
                        
                        <div class="col-auto">
                        <label for="tri">Poids tri sélectif</label><br>
                            <div class="input-group mb-2">
                                
                                
                                
                                <input type="number" name="tri" min="0" class="form-control" id="tri" placeholder="Tri sélectif">
                                <div class="input-group-append">
                                    <span class="input-group-text">Kgs</span>
                                </div>
                            </div>
                        </div>
                        </div>
                        
                        <div class="form-row">
  
                        <div class="col-auto">

                                        <label for="verre">Poids Verre</label><br>
                            <div class="input-group mb-2">
                                
                                
                                    
                                    <input type="number" name="verre" min="0" class="form-control" id="verre" placeholder="Verre">
                                    <div class="input-group-append">
                                        <span class="input-group-text">Kgs</span>
                                    </div>
                                
                                
                                
                                
                            </div>
                            </div>

                        
                        
                        
                        <div class="col-auto">
                        <label for="compost">Poids Compost</label><br>
                            <div class="input-group mb-2">
                                
                                
                                
                                <input type="number" name="compost" min="0" class="form-control" id="compost" placeholder="Compost">
                                <div class="input-group-append">
                                    <span class="input-group-text">Kgs</span>
                                </div>
                            </div>
                        </div>
                        </div>
                   
                        <div class="form-row">
                        <div class="col-auto">
                            <input type="submit" class="form-control" value="Envoyer">
                        </div>
                    </div>
                
            </div>
            <div class="card-footer small text-muted ">
                <div class="form-row align-items-center">
                <div class="col-auto">Saisie pour le </div><div class="col-auto"><input type="date" name="date" value="2018-10-10" max="2019-10-10" min="2018-10-01" class="form-control" placeholder="Poids"></div>.</div>
            </div>
          </form>
          </div>
        
          
          <!-- Area Chart Example-->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-chart-area"></i>
              Apercu rapide</div>
            <div class="card-body">
                <select class="form-control" id="dataTypeSelector" name="dataTypeSelector" data-idFamille="eeeeeeeeee">
                    <option>Ordures ménagères</option>
                    <option>Compost</option>
                    <option>Tri sélectif</option>
                    <option>Verre</option>
                </select>
              <canvas id="chartArea" width="100%" height="30"></canvas>
            </div>
            <div class="card-footer small text-muted">
                Mise à jour a xxhxx.
            </div>
          </div>
          
          <div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-map-marked-alt"></i>
              Carte</div>
            <div class="card-body">
               <div class="mapBox" id="map"></div>
            </div>
          </div>

     <% include ./partials/footer.ejs %>
